<h3>{{{ helpDialogTitle }}}</h3>

<div class="breadcrumbs">
  <div class="item">
    <a class="next-view-link" data-help-dialog-next-view="TypeOfIssueView">{{{ t 'app.typeofissue' }}}</a>
  </div>
  <div class="separator unselectable">&gt;</div>
  <div class="item">
     <a class="next-view-link" data-help-dialog-next-view="AccessibilityIssueView">{{{ t 'app.helpdialog.accessibilityissue.link' }}}</a>
  </div>
  <div class="separator unselectable">&gt;</div>
  <div class="item">
    <a class="next-view-link" data-help-dialog-next-view="AccessibilityToolsAndDocumentationsView">{{{ t 'app.helpdialog.accessibilityissuewithcourse.link' }}}</a>
  </div>
  <div class="separator unselectable">&gt;</div>
  <div class="item">
    {{{ t 'app.representative' }}}
  </div>
</div>

<p>
  {{{ t 'app.helpdialog.accessibilityissuewithcourse.text' }}}
</p>

<div class="rep-selector-wrapper">
  <select class="business-line-select accessibility-business-line">
    <option></option>
    {{#each properties._businessLines}}
      <option> {{ title }} </option>
    {{/each}}
  </select>
</div>
<p class="reps-texts display-none"><em>{{{ t 'app.heldialog.businessline.representative.helptext' }}}</em></p>
<p class="no-reps-texts display-none"><em>{{{ t 'app.heldialog.businessline.norepresentative' }}}</em></p>

<div class="help-dialog-accessibility-reps"></div>

<p class="support-reps-texts display-none">{{{ td 'app.heldialog.accessibilityissuewithcourse.support.helptext' '{"classname": "next-view-link", "nextview": "ComplianceIssueView"}' }}}</p>
<div>
  <button class="help-dialog-back-button action-primary" data-help-dialog-previous-view="AccessibilityToolsAndDocumentationsView">{{ t 'app.back' }}</button>
</div>