<h3>{{{ helpDialogTitle }}}</h3>

<p>
  {{ t 'app.helpdialog.technicalissue.text' }}
</p>

<ul class="help-dialog-choice-list">
 <li>
    <a class="next-view-link" data-help-dialog-next-view="PlatformIssueView">
      {{ t 'app.helpdialog.platformissue.link' }}
    </a> 
  </li>
  <li>
    <a class="next-view-link" data-help-dialog-next-view="TechnicalIssueWithCourseView">
    {{ t 'app.helpdialog.technicalissuewithcourse.link' }}
    </a> 
  </li>
</ul>

<div>
  <button class="help-dialog-back-button action-primary" data-help-dialog-previous-view="TypeOfIssueView">{{ t 'app.back' }}</button>
</div>