<h3>{{{ helpDialogTitle }}}</h3>

<p>
  {{ t 'app.helpdialog.technicalissuewithcourse.text' }}
</p>

<div class="rep-selector-wrapper">
  <select class="business-line-select technical-business-line">
    <option></option>
    {{#each properties._businessLines}}
      <option> {{ title }} </option>
    {{/each}}
  </select>
</div>
<p class="reps-texts display-none"><em>{{ t 'app.heldialog.businessline.representative.helptext' }}</em></p>
<p class="no-reps-texts display-none"><em>{{ t 'app.heldialog.businessline.norepresentative' }}</em></p>

<div class="help-dialog-technical-reps"></div>

<p class="support-reps-texts display-none">{{ t 'app.heldialog.issuewithcourse.support.helptext' }} <a class="next-view-link" data-help-dialog-next-view="PlatformIssueView">{{ t 'app.here' }}</a>.</p>
<div>
  <button class="help-dialog-back-button action-primary" data-help-dialog-previous-view="TechnicalIssueView">{{ t 'app.back' }}</button>
</div>