<div class="page-inner">
  <div class="page-detail">
    <h4 class="page-name title">
      <span class="context-menu-content-container context-menu-page-content-container-{{_id}}">
        <a href="#" class="open-page-context-menu-icon page-edit-button" title="{{t 'app.clicktoedit'}}" aria-expanded="false"><i class="fa fa-cog fa-fw"></i></a>
        <span class="page-context-menu-container" style="position:relative;"></span>
      </span>
      {{#if displayTitle}}{{displayTitle}}{{else}}{{title}}{{/if}}
    </h4>
    <div class="page-body">{{body}}</div>
  </div>

  <div class="page-articles"></div>

  <div class="add-control">
    <button class="btn add-article">{{t 'app.addarticle'}}</button>
  </div>
</div>
