<div class="navigation-inner clearfix">
  <div class="navigation-left">
    {{#if isAuthenticated}}
    <div class="global-menu-content-wrapper">
      <a href="#" class="navigation-item navigation-global-menu" data-event="globalMenu:toggle" aria-expanded="false" aria-label="Menu">
        {{!-- <i class="fa fa-bars"></i> --}}
        <div id="global-menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
      <div class="global-menu-container"></div>
    </div>
    <div href="#" class="navigation-item navigation-product-name">{{t 'app.productname'}}</div>
    {{/if}}
  </div>
  <div class="navigation-right">
    {{#if isAuthenticated}}
    {{! ESDC - added language switcher link}}
    <a href="#" class="langspot navigation-item aut" onclick="togglelang()">
      {{! ESDC - added translation handler for language name}}
      <span lang="{{t 'app.langswitcherCode'}}">{{t 'app.langswitcher'}}</span>
    </a>
    <div class="profile-dropdown-menu">
      <button class="profile-dropbtn profile-drop-element" aria-expanded="false" aria-label="{{t 'app.accountmanager'}}{{userFullName}}"><p class="circle-inner">{{userInitials}}</p></button>
      <div id="profile-dropdown" class="dropdown-content">
        <div class="profile-user-info"><span>{{t 'app.loggedinas'}}:</span><span>{{email}}</span></div>
        <a href="#" class="navigation-item navigation-profile profile-drop-element" data-event="user:profile">
          <span>{{t 'app.editprofiletitle'}}</span>
        </a>
        <a href="#" class="navigation-item navigation-user-logout profile-drop-element" data-event="user:logout">
          <span>{{t 'app.logout'}}</span>
        </a>
      </div>
    </div>
    {{/if}}
  </div>
</div>
